# Skopiuj jako .env.deploy (NIE commituj). Wartości jak w GoogleCloudRobot.
# Project ID w GCP (NIE nazwa usługi Cloud Run!)
GCP_PROJECT=owocni-robot
GCP_REGION=europe-central2
FUNCTION_NAME=twenty-inbound-webhook-sandbox

STAPE_API_KEY=
STAPE_API_BASE=https://uinpcbwf.eug.stape.io/stape-api

TWENTY_API_KEY=
TWENTY_REST_URL=https://api.twenty.com/rest

RUNTIME_ENVIRONMENT=sandbox
LEADS_AT_MESSAGE_CHANNEL_ID=32629e97-6dc2-452f-aa26-38c72eaab3a4
